header{
    background-image:url(../img/bg-hero.png) ;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;

    font-family: raleway ;
    color: white;
    text-align: right;
    text-shadow: 0px 3px 6px black;

}
header h1{
    font-size: 80px;
}

header h2 {
    font-size: 40px;
    font-weight: lighter;
}

#Proxima-Charla{
    background-color: #a4452c;
    padding: 100px;
    color: white;
}
#Proxima-charla .wrapper{
    width:800px;
    margin: auto;
}
.wrapper img{
    width: 25%;
}
.wrapper .texto{
    width: 70%;
    margin-left: 4%;

}

.wrapper img, .texto {
    display: inline-block;
    vertical-align: middle;
}
body {
    font-family: 'Open Sans',sans-serif

}

.sticky-menu {
    position: sticky;
    position: webkit-sticky;
    top: 20;
}
i{
    font-size: 50px ;
}